/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

#circle {
    background: #000;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: fixed;
    bottom: 10vh;
    right: 1.5em;
    box-shadow: 5px 10px 18px #888888;
}

.number {
    color: white;
    position: absolute;
    margin-left: 0.4em;
    margin-top: 1.5vh !important;
    font-size: 106px;
    font-family: monospace;
}
#circle-watched {
    background: #FFD71F;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: fixed;
    bottom: 30vh;
    right: 2em;
    box-shadow: 5px 10px 18px #000;
}

.number-watched {
    color: black;
    position: absolute;
    margin-left: 0.4em;
    margin-top: -0.5vh !important;
    font-size: 72px;
    font-family: monospace;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
.circle:before {
    content: ' \25CF';
    font-size: 200px;
}
.center-text {
    text-align: center! important;
}
.hiddenRow {
    padding: 0 !important;
}
.poster {
    height: 25vh;
    border-radius: 15px;
}
.logo {
    height: 4vh;
}
.actions {
    background-color: rgb(232, 241, 243) !IMPORTANT;
    border-radius: 20px;
    padding: 8px 0px 8px 25px;
    margin-top: 6px;
}
.actionsbut {
    background-color: #FFD71F !IMPORTANT;
    border-radius: 36px;
    padding: 8px 0px 8px 15px;
    margin-top: 6px;
}
.actionsedit {
    background-color: #FFD71F !IMPORTANT;
    border-radius: 36px;
    padding: 8px 0px 8px 15px;
}
.left-curl {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.right-curl {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.table td {
    border: none !important;
}
.table th {
    border: none !important;
}
.votes {
    color: darkgray;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
